#container {
    border: black dotted;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vw;
    margin: auto;
}

.row {
    display: flex;
    flex-grow: 1;
}

.cell {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.activeCell {
    background-color: black;
}

.btns {
    display: flex;
    justify-content: center;
    padding: 2vh;
}