#container {
    border: black dotted;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vw;

}

.row {
    display: flex;
    flex-grow: 1;
}

.cell {
    border: rebeccapurple solid;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}