body {
    background-color: lightgray;
}

button {
    font-size: large;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    border: silver;
}

#container {
    border: gray dashed;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vw;
    margin: auto;
    background-color: white;
}

.row {
    display: flex;
    flex-grow: 1;
}

.cell {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.activeCell {
    background-color: black;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vh;
}
